@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  

@font-face {
  font-family: SUIT;
  src: url('../src/styles/fonts/SUIT-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: SUIT;
  src: url('../src/styles/fonts/SUIT-Bold.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: SUIT;
  src: url('../src/styles/fonts/SUIT-ExtraBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: YJ_Obang_TTF;
  src: url('../src/styles/fonts/YJ_Obang_TTF.ttf') format('truetype');
}